<%= form_for(@task, remote: true, html: {'data-type': 'json'}) do |form| %>

  <div class="project-select">
  <%= form.label :project_id %>
  <%= form.select(:project_id, options_for_select( @project_for_select = Project.all.map{|c| [c.name, c.id ]} ), {}, { class: 'profile_select-client__input', name: "project_id" }) %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class: "profile_select-client__input" %>
  </div>

  <div class="actions">
    <%= form.submit "Start", class: "profile_button profile_button-start"  %>
  </div>
<% end %>


<!-- class="profile_select-client__input"
id="profile_select-client__select"
name="project_id"

select

class="profile_select-client__option"

opt
class="profile_select-client__input"

id="profile_select-client__input"
name="description"

butto

class="profile_button profile_button-start"
id="profile_button-start" -->
