
<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="input-wrap">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__input" %>
</div>

<div class="input-wrap">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form__input" %>
</div>
<div class="input-wrap">
  <%= link_to "Registration", new_user_registration_path %>
</div>
    <%= f.submit "Log in", class: "form__button" %>

<% end %>

</div>
