<%= render "application/header" %>
<div class="wrapper">
  <ul class="tab-admin">
    <li>
      <a href="#admin_search-tabs" class="admin_tablinks active">Tasks</a>
    </li>
    <li>
      <a href="#admin-create-new-project" class="admin_tablinks">Add new project</a>
    </li>
    <li>
      <a href="#admin-create-new-customers" class="admin_tablinks">Add new customer</a>
    </li>
    <li>
        <a href="#admin-create-new-company" class="admin_tablinks">Company</a>
    </li>
  </ul>
  <div id="admin_search-tabs" class="admin_tabcontent active_tab">
    <form class="search-users" action="" method="post">
      <div>
        <label for="admin-search-user">Name user:</label>
        <input id="admin-search-user" type="text" name="" placeholder="Search user ...">
      </div>
      <div>
        <label for="admin-select-project">Select project:</label>
        <select id="admin-select-project">
          <option value="Project">Project</option>
          <option value="Project">Project</option>
          <option value="Project">Project</option>
          <option value="Project">Project</option>
        </select>
      </div>
      <div>
        <label for="admin-search-date">Search date:</label>
        <input id="admin-search-date" class="admin-search-date" type="date">
      </div>
      <div>
        <input class="admin-submit" type="submit" name="" value="Search">
      </div>
    </form>
    <div class="user-table">
      <table class="user-tasks">
        <thead>
          <tr>
            <th>Project</th>
            <th>Task</th>
            <th>Start/Finish</th>
            <th>Full Time</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          <% for i in 0..100 do %>
          <tr>
            <th>Project
              <%= i %>
            </th>
            <th>Create new page</th>
            <th>01:00/04:00</th>
            <th>03:00</th>
            <th>User 1</th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div id="admin-create-new-project" class="admin_tabcontent">
    <%= render 'projects/form'%>
    <div class="admin-block-new-project">
      <table class="admin-table-new-project">
        <thead>
          <tr>
            <th>Name</th>
            <th>Customer</th>
            <th>Edit / Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
          <tr>
            <th>
              <%= project.name %>
            </th>
            <th>
              <%= project.customer.name %>
            </th>
            <th class="admin-table-links">
              <a class="project-window-button project-window-button-edit" href="#">Edit</a>
              <div class="project-window-edit">
                <div>
                  <a href="#close" title="close" class="project-window-button-close"></a>
                  <h2>Modal window</h2>
                  <p>Пример простого модального окна, которое может быть создано с использованием CSS3.</p>
                </div>
              </div>
              <%= link_to "Delete", project, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
              <div class="project-window-delete">
              </div>
            </th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div id="admin-create-new-customers" class="admin_tabcontent">
    <%= render 'customers/form'%>
    <div class="admin-block-new-customer">
      <table  id="admin-table-new-customer" class="admin-table-new-customer">
        <thead>
          <tr>
            <th>Customer</th>
            <th>Edit / Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr id="customer_<%= customer.id %>" >
            <th>
              <%= customer.name =%>
            </th>
            <th class="admin-table-links">
              <%= link_to "Edit",  edit_customer_path(@customer) remote: true %>
              <%= link_to "Delete", customer, method: :delete, data: {confirm: "Are you sure?"},class: 'deleteCustomers', remote: true %>
            </th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div id="admin-create-new-company" class="admin_tabcontent" >
      <%= render 'companies/form'%>
    <form class="admin-create-new-projects">
      <div>
        <label for="admin-company-name">Company name:</label>
        <input id="admin-company-name" placeholder="Write company name ..." type="text" name="admin-company-name">
      </div>
      <div>
        <label for="admin-company-user">User:</label>
        <input id="admin-company-user" placeholder="Write user ..." type="text" name="admin-company-user">
      </div>
      <div>
        <input class="admin-submit-company" type="submit" name="" value="Search">
      </div>
    </form>
    <div class="admin-block-info-company">
      <table class="admin-table-info-company">
        <thead>
          <tr>
            <th>Company</th>
            <th>User</th>
            <th>Edit / Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for i in 0..100 do %>
            <tr>
              <th>Company</th>
              <th>User</th>
              <th class="admin-table-links">
                <a href="#">Edit</a>
                <a href="#">Delete</a>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
